[Unit]
Description=Auto ssh service
After=network.target

[Service]
ExecStart=/bin/bash /etc/my_service/autossh.sh

[Install]
WantedBy=multi-user.target
